<h3>Organisation form</h3>
<%= form_for @organisation do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <h4>Categories</h4>
    <%= f.fields_for :categories, Category.all do |category| %>
      <%= render partial: "category_fields", :locals => {:f => category} %>
    <% end %>
  <%= f.submit "Submit Organisation" %>
<% end %>
